/imdb-postgresql/imdb/name.basics.sample.tsv
/imdb-postgresql/imdb/name.basics.tsv
/imdb-postgresql/imdb/name.basics.tsv.complete
/imdb-postgresql/imdb/title.basics.sample.tsv
/imdb-postgresql/imdb/title.basics.tsv
/imdb-postgresql/imdb/title.basics.tsv.complete
/backups/
